.btn {
  height: 6rem;
  padding: 0 3rem;
  border-radius: 10rem;
  box-shadow: var(--dropshadow-std);
  border: none;
  color: var(--grayscale-0);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  &--bold {
    font-weight: 700;
  }

  &:hover {
    transform: translateY(0.1rem);
    box-shadow: var(--dropshadow-std--hover);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: var(--dropshadow-std--active);
  }

  &--compact {
    height: 4.5rem;
    padding: 0 1.5rem;

    & a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      & svg {
        width: 3rem;
        height: 3rem;
        fill: var(--primary-70);
      }

      & span {
        line-height: 4.2rem;
        font-weight: 500;
      }
    }
  }

  &--muted {
    box-shadow: var(--dropshadow-muted);

    &:hover {
      box-shadow: var(--dropshadow-muted--hover);
    }

    &:active {
      box-shadow: var(--dropshadow-muted--active);
    }
  }

  &.disabled,
  &:disabled {
    color: var(--grayscale-50);
    background-color: var(--grayscale-20);
    border: 0.3rem solid var(--grayscale-30);
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    transition: none;
  }

  & svg {
    min-width: 3rem;
    min-height: 3rem;
    fill: var(--grayscale-0);
  }
}

$button-types: primary, secondary, success, warning, danger, info, light, dark;
$outline-types: primary, secondary, warning, danger, success, info, light, dark,
  link;

@each $type in $button-types {
  .btn-#{$type} {
    @extend .btn;
    background-color: var(--#{$type}-50);
    border: 0.3rem solid var(--#{$type}-50);

    &:hover {
      background-color: var(--#{$type}-40);
      border-color: var(--#{$type}-40);
    }

    &:active {
      background-color: var(--#{$type}-60);
      border-color: var(--#{$type}-60);
    }
  }
}

@each $type in $outline-types {
  .btn-outline-#{$type} {
    @extend .btn;
    background-color: var(--grayscale-0);
    border: 0.2rem solid var(--#{$type}-50);
    color: var(--#{$type}-50);

    &:hover {
      background-color: var(--#{$type}-50);
      color: var(--grayscale-0);
    }

    &:active {
      background-color: var(--#{$type}-70);
      color: var(--grayscale-0);
    }
  }
}

.btn-light,
.btn-outline-light {
  color: var(--grayscale-80);
}

.btn-outline-light {
  border-color: var(--grayscale-20);

  &:hover {
    background-color: var(--grayscale-10);
    border-color: var(--grayscale-20);
    color: var(--grayscale-80);
  }

  &:active {
    border-color: var(--grayscale-10);
  }
}

.btn-secondary {
  background-color: var(--secondary-40);
  border-color: var(--secondary-50);
}

.btn-success {
  background-color: var(--success-70);
  border-color: var(--success-70);

  &:hover {
    background-color: var(--success-50);
    border-color: var(--success-50);
  }

  &:active {
    background-color: var(--success-80);
    border-color: var(--success-80);
  }
}

.btn-danger {
  background-color: var(--accent-60);
  border-color: var(--accent-60);

  &:hover {
    background-color: var(--accent-50);
    border-color: var(--accent-50);
  }

  &:active {
    background-color: var(--accent-70);
    border-color: var(--accent-70);
  }
}

.btn-outline-danger {
  background-color: var(--grayscale-0);
  border-color: var(--accent-60);
  color: var(--accent-60);

  &:hover {
    background-color: var(--accent-50);
    border-color: var(--accent-50);
    color: var(--grayscale-10);
  }

  &:active {
    background-color: var(--accent-70);
    border-color: var(--accent-70);
    color: var(--grayscale-0);
  }
}

.btn-outline-success {
  background-color: var(--grayscale-0);
  border-color: var(--success-70);
  color: var(--success-70);

  &:hover {
    background-color: var(--success-50);
    border-color: var(--success-50);
    color: var(--grayscale-10);
  }

  &:active {
    background-color: var(--success-80);
    border-color: var(--success-80);
    color: var(--grayscale-0);
  }
}

.btn-info {
  background-color: var(--primary-70);
  border-color: var(--primary-70);

  &:hover {
    background-color: var(--primary-50);
    border-color: var(--primary-50);
  }

  &:active {
    background-color: var(--primary-80);
    border-color: var(--primary-80);
  }
}

.btn-info-outline {
  background-color: var(--grayscale-0);
  border-color: var(--primary-70);
  color: var(--primary-70);

  &:hover {
    background-color: var(--primary-50);
    border-color: var(--primary-50);
    color: var(--grayscale-10);
  }

  &:active {
    background-color: var(--primary-80);
    border-color: var(--primary-80);
    color: var(--grayscale-0);
  }
}

.btn-link {
  @extend .btn;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--primary-50);
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: none;
    color: var(--primary-40);
    transform: none;
  }

  &:active {
    box-shadow: none;
    color: var(--primary-70);
    transform: none;
  }
}
