.card {
  border: 0.2rem solid var(--grayscale-10);
  border-radius: 1rem;
  box-shadow: var(--dropshadow-muted);

  position: relative;
  transition: all 0.2s ease-in-out;

  background-color: var(--grayscale-0);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  &:hover {
    box-shadow: var(--dropshadow-muted--hover);
  }
  .card__title {
    /* Styles will come here */
  }
  .card__body {
    background-color: var(--grayscale-0);
    padding: 4.5rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    height: 100%;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }
  }
  .card__footer {
    padding: 3rem 4.5rem;
    background-color: var(--grayscale-10);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}
