.main-layout {
  /* For development purposes TODO */
  min-height: calc(100vh - 20rem);

  position: relative;
  z-index: 0;
  background-color: var(--grayscale-0);

  padding: 6rem 15% 6rem;

  transform: translateY(12rem);

  width: 100%;

  @include responsivePadding($padding-top: 6rem, $padding-bottom: 6rem);

  @include breakpoint("lg") {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    transform: translateY(7.5rem);
  }
  @include breakpoint("md") {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  margin-bottom: 15rem;
}
