@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes icon-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideAndFloat {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Define the exit animation */
@keyframes fadeOutAndSlide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-30px); // Adjust the slide distance
  }
}

/* Define the keyframes for the pulsating effect */
@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}

/* Initial styles for the element */
#screenFadeIn {
  position: fixed;
  width: 100vw;
  height: 100vw;
  z-index: 10000;
  pointer-events: none;
  overflow: hidden;
  background-color: var(--grayscale-0);
  opacity: 1; /* Initial opacity */
  animation: fadeOut 0.2s ease-in-out forwards 0.2s; /* Apply the fade-out animation with a 0.5s delay */
}

/* Keyframes for the fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none; /* Hide the element after fading out */
  }
}

/* Start state for entering */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

/* End state for entering */
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

/* Start state for exiting */
.fade-exit {
  // opacity: 1;
}

/* End state for exiting */
.fade-exit.fade-exit-active {
  // opacity: 0;
  // transition: opacity 300ms ease-in;
}

/* Define the initial and final states */
.slide-enter {
  transform: translateX(-100%);
  //opacity: 0;
}
.slide-enter-active {
  transform: translateX(0);
  //opacity: 1;
  transition: opacity 400ms, transform 400ms;
}
.slide-exit {
  transform: translateX(0);
  //opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  //opacity: 0;
  transition: opacity 400ms, transform 400ms;
}
