// Define the breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "2xl": 1440px,
  "3xl": 1600px,
  "4xl": 1900px,
  "5xl": 2200px,
);

// Media query mixin
@mixin breakpoint($name, $type: "max") {
  @if map-has-key($breakpoints, $name) {
    $width: map-get($breakpoints, $name);
    @if $type == "min" {
      @media (min-width: $width) {
        @content;
      }
    } @else if $type == "max" {
      @media (max-width: $width) {
        @content;
      }
    } @else {
      @warn "Invalid type '#{$type}', use 'min' or 'max'";
    }
  } @else {
    @warn "Invalid breakpoint name '#{$name}'";
  }
}

// Usage
/* .container {
  width: 100%;
  @include breakpoint('sm', 'max') {
    width: 80%;
  }
  @include breakpoint('md', 'min') {
    width: 60%;
  }
  @include breakpoint('lg', 'max') {
    width: 40%;
  }
  @include breakpoint('xl', 'min') {
    width: 20%;
  }
} */

@mixin responsivePadding(
  $padding-top: null,
  $padding-bottom: null,
  $padding-horizontal: null
) {
  // Set default horizontal padding if not provided
  $default-horizontal: if($padding-horizontal, $padding-horizontal, 15%);

  // Apply horizontal padding
  padding-left: $default-horizontal;
  padding-right: $default-horizontal;

  // Apply vertical padding if provided
  @if $padding-top {
    padding-top: $padding-top;
  }
  @if $padding-bottom {
    padding-bottom: $padding-bottom;
  }

  width: 100%;

  // Adjust horizontal paddings at breakpoints
  @include breakpoint("5xl") {
    padding-left: if($padding-horizontal, $padding-horizontal, 10%);
    padding-right: if($padding-horizontal, $padding-horizontal, 10%);
  }
  @include breakpoint("4xl") {
    padding-left: if($padding-horizontal, $padding-horizontal, 5%);
    padding-right: if($padding-horizontal, $padding-horizontal, 5%);
  }
  @include breakpoint("lg") {
    padding-left: if($padding-horizontal, $padding-horizontal, 3rem);
    padding-right: if($padding-horizontal, $padding-horizontal, 3rem);
  }
  @include breakpoint("md") {
    padding-left: if($padding-horizontal, $padding-horizontal, 1.5rem);
    padding-right: if($padding-horizontal, $padding-horizontal, 1.5rem);
  }
}

// SPACING
