// Define the breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "2xl": 1440px,
  "3xl": 1600px,
  "4xl": 1900px,
  "5xl": 2200px,
  "6xl": 2500px,
  "7xl": 2800px,
  "8xl": 3100px,
  "9xl": 3400px,
  "10xl": 3700px,
);

// Media query mixin
@mixin breakpoint($name, $type: "max") {
  @if map-has-key($breakpoints, $name) {
    $width: map-get($breakpoints, $name);
    @if $type == "min" {
      @media (min-width: $width) {
        @content;
      }
    } @else if $type == "max" {
      @media (max-width: $width) {
        @content;
      }
    } @else {
      @warn "Invalid type '#{$type}', use 'min' or 'max'";
    }
  } @else {
    @warn "Invalid breakpoint name '#{$name}'";
  }
}

@mixin responsive-font-size {
  // Default font size for the smallest screens
  font-size: 62.5%; // 1rem = 10px

  $queries: (
    "xs": (
      map-get($breakpoints, "xs"),
      // 0w
      62.5%,
      // Slightly larger for better readability on very small screens
      60%,
      // High DPR: xs
    ),
    "sm": (
      map-get($breakpoints, "sm"),
      // 576w
      59%,
      57%,
      // High DPR: sm
    ),
    "md": (
      map-get($breakpoints, "md"),
      // 768w
      55%,
      55%,
      // High DPR: md
    ),
    "lg": (
      map-get($breakpoints, "lg"),
      // 992w
      52%,
      52%,
      // High DPR: lg
    ),
    "xl": (
      map-get($breakpoints, "xl"),
      // 1200w
      50%,
      50%,
      // High DPR: xl
    ),
    "2xl": (
      map-get($breakpoints, "2xl"),
      // 1440w
      52%,
      52%,
      // High DPR: 2xl
    ),
    "3xl": (
      map-get($breakpoints, "3xl"),
      // 1600w
      53%,
      51%,
      // High DPR: 3xl
    ),
    "4xl": (
      map-get($breakpoints, "4xl"),
      // 1900w
      55%,
      51.5%,
      // High DPR: 4xl
    ),
    "5xl": (
      map-get($breakpoints, "5xl"),
      // 2200w
      59%,
      53%,
      // High DPR: 5xl
    ),
    "6xl": (
      map-get($breakpoints, "6xl"),
      // 2500w
      61%,
      55%,
      // High DPR: 6xl
    ),
  );

  @each $name, $values in $queries {
    $width: nth($values, 1);
    $font-size-low-dpr: nth($values, 2);
    $font-size-high-dpr: nth($values, 3);

    $prev-width: 0;
    // Assuming the list is ordered from smallest to largest
    @if $name != "xs" {
      // Get the previous width to create a min-width
      $prev-name: nth(
        nth(map-keys($queries), index(map-keys($queries), $name) - 1),
        1
      );
      $prev-width: nth(map-get($queries, $prev-name), 1);
    } @else {
      $prev-width: 0;
    }

    // For devices with DPR below 2
    @media (min-width: $prev-width) and (max-width: $width) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $prev-width) and (max-width: $width) and (max-resolution: 191dpi) {
      font-size: $font-size-low-dpr;
    }

    // For devices with DPR of 2 and above
    @media (min-width: $prev-width) and (max-width: $width) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $prev-width) and (max-width: $width) and (min-resolution: 192dpi) {
      font-size: $font-size-high-dpr;
    }
  }
}

@mixin responsivePadding(
  $padding-top: null,
  $padding-bottom: null,
  $padding-horizontal: null
) {
  // Set default horizontal padding if not provided
  $default-horizontal: if($padding-horizontal, $padding-horizontal, 15%);

  // Apply horizontal padding
  padding-left: $default-horizontal;
  padding-right: $default-horizontal;

  // Apply vertical padding if provided
  @if $padding-top {
    padding-top: $padding-top;
  }
  @if $padding-bottom {
    padding-bottom: $padding-bottom;
  }

  width: 100%;

  // Adjust horizontal paddings at breakpoints
  @include breakpoint("5xl") {
    padding-left: if($padding-horizontal, $padding-horizontal, 12.5%);
    padding-right: if($padding-horizontal, $padding-horizontal, 12.5%);
  }
  @include breakpoint("4xl") {
    padding-left: if($padding-horizontal, $padding-horizontal, 10%);
    padding-right: if($padding-horizontal, $padding-horizontal, 10%);
  }
  @include breakpoint("2xl") {
    padding-left: if($padding-horizontal, $padding-horizontal, 7.5%);
    padding-right: if($padding-horizontal, $padding-horizontal, 7.5%);
  }
  @include breakpoint("sm") {
    padding-left: if($padding-horizontal, $padding-horizontal, 5%);
    padding-right: if($padding-horizontal, $padding-horizontal, 5%);
  }
  @media (max-width: 420px) {
    padding-left: if($padding-horizontal, $padding-horizontal, 1.25rem);
    padding-right: if($padding-horizontal, $padding-horizontal, 1.25rem);
  }
  @media (max-width: 350px) {
    padding-left: if($padding-horizontal, $padding-horizontal, 0.5rem);
    padding-right: if($padding-horizontal, $padding-horizontal, 0.5rem);
  }
}

// SPACING
