//src/assets/styles/sass/base/_base.scss

// RESET
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines 1 rem
  font-size: 62.5%; // 1rem = 10 px -- 10px/16px = 62.5%

  @include breakpoint("4xl") {
    font-size: 56.25%; // 1rem = 8px -- 8px/16px = 50%
  }
  @include breakpoint("3xl") {
    font-size: 50%; // 1rem = 8px -- 8px/16px = 50%
  }

  scroll-behavior: smooth;
}

body,
button,
input {
  // Defines how the box model works
  box-sizing: border-box;
}

hr {
  width: 75%;
  margin: 0 auto;
  height: 1px; /* Sets the thickness of the line */
  background-color: var(--grayscale-20); /* Sets the color of the line */
  border: none; /* Removes the default border */
}

::selection {
  /* TBD */
}

/* SCROLLBAR */

/* This styles the scrollbar track (the part the thumb moves along) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

/* This styles the scrollbar thumb (the part that is draggable) */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when the thumb is hovered over */
}

/* This styles the scrollbar button (the buttons at the end of the scrollbar) */
::-webkit-scrollbar-button {
  display: none; /* this will disable the buttons */
}

/* This styles the overall scrollbar width */
::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}
